.ip-form {
    margin-bottom: 25px;
}

.ip-form_inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ip-form_inputs.disabled {
    opacity: 0.4;
    user-select: none;
}

@media (max-width: 1200px) {
    .check_box_ip {
        display: flex;
        flex-direction: column;
    }
}